{{ define "header" }}
<div id="grid" class="container">
  <div id="onecol" class="row ">
    <div class="col-md-12 text-center">
      <div class=" bg-grey py-5 px-4 ">
        <div id="projet-intro" class="col-md-8 offset-md-2">
            <h1 class="projet-client">
                {{ if .Params.client }}
                {{ $client := index (last 1 (split .Params.client "/")) 0 }}
                {{ range where .Site.Pages "Section" "clients" }}
                  {{ if eq $client .File.LogicalName }}
                {{ .Title | upper }}
                {{ end }}
                {{ end }}
                {{ end }}
            </h1>
            <h2 class="projet-title">{{ .Title  }}</h2>
      {{ with .Params.metiers }}
      <p class="projet-metier">{{ delimit . ", " | upper | title }}</p>
      {{ end }}
      
      <div class="projet-content">
          {{ with .Params.prix}}
          <img class="pictoprix" src="{{ "/img/picto_recompenses.png" | absURL }}"/>
          {{ end }}
          {{ with .Params.recompenses}}
          <p class="recompenses">{{ . | markdownify  }}</p>
          {{ end }}
      {{ .Content | markdownify  }}
    </div>
    </div>
  </div>
  </div>
</div>
{{ end }}
{{ define "main" }}
{{ $client := .Title }}

    <div id="lignes" class="">
{{ range .Params.ligne_col }}  <!-- <LOOP >-->

    <!-- IMAGES UNIQUEMENT-->
    {{ if eq "ligne-12img" .template }}
    <div class="row">
    {{ range .col12_img }}
     <div class="col-md-12 ">
        <img alt="{{$client}} - 1" class="img-fluid" src="{{ . | relURL }}">
      </div>
    {{ end }}
  </div>
    {{ end }}

    {{ if eq "ligne-6img-6img" .template }}
    <div class="row">
    {{ range .col6_img }}
    <div class="col-md-6 ">
    <img alt="{{$client}} - 2" class="img-fluid" src="{{ . | relURL }}">
    </div>
    {{ end }}
    </div>
    {{ end }}

    {{ if eq "ligne-4img-4img-4img" .template }}
    <div class="row">
    {{ range .col4_img }}
    <div class="col-md-4  ">
    <img alt="{{$client}} - 3" class="img-fluid" src="{{ . | relURL }}">
    </div>
    {{ end }}
    </div>
    {{ end }}

    {{ if eq "ligne-8img-4img" .template }}
    <div class="row">
    {{ with .col8_img }}
    <div class="col-md-8 ">
    <img alt="{{$client}} - 3" class="img-fluid" src="{{ . | relURL }}">
    </div>
    {{ end }}
    {{ with .col4_img }}
    <div class="col-md-4 ">
    <img alt="{{$client}} - 3" class="img-fluid" src="{{ . | relURL }}">
    </div>
    {{ end }}
    </div>
    {{ end }}

    {{ if eq "ligne-4img-8img" .template }}
    <div class="row">
    {{ with .col4_img }}
    <div class="col-md-4 ">
    <img alt="{{$client}} - 3" class="img-fluid" src="{{ . | relURL }}">
    </div>
    {{ end }}
    {{ with .col8_img }}
    <div class="col-md-8 ">
    <img alt="{{$client}} - 3" class="img-fluid" src="{{ . | relURL }}">
    </div>
    {{ end }}
    </div>
    {{ end }}
<!-- END IMAGES UNIQUEMENT-->

<!-- IMAGES ET TEXTE UNIQUEMENT-->
{{ if eq "ligne-6img-6txt" .template }}
<div class="row data-height-fix">
{{ range .col6_img }}
<div class="col-md-6 set-height">
<img alt="{{$client}} - 3" class="img-fluid" src="{{ . | relURL }}">
</div>
{{ end }}
{{ with .col6_txt }}
<div class="col-md-6 card get-height">
    <div class="card-body bg-grey">
    {{ . | markdownify  }}
    </div>
</div>
{{ end }}
</div>
{{ end }}

{{ if eq "ligne-6txt-6img" .template }}
<div class="row">
{{ with .col6_txt }}
<div class="col-md-6 card ">
    <div class="card-body bg-grey">
    {{ . | markdownify  }}
    </div>
</div>
{{ end }}
{{ range .col6_img }}
<div class="col-md-6 ">
<img alt="{{$client}} - 3" class="img-fluid" src="{{ . | relURL }}">
</div>
{{ end }}
</div>
{{ end }}


{{ if eq "ligne-4img-4img-4txt" .template }}
<div class="row data-height-fix">
{{ range .col4_img }}
<div class="col-md-4 get-height">
<img alt="{{$client}} - 3" class="img-fluid" src="{{ . | relURL }}">
</div>
{{ end }}
{{ with .col4_txt }}
<div class="col-md-4 card set-height">
  <div class="card-body bg-grey">
    {{ . | markdownify  }}
  </div>
</div>
{{ end }}
</div>
{{ end }}

{{ if eq "ligne-4txt-4img-4img" .template }}
<div class="row">
{{ with .col4_txt }}
<div class="col-md-4 card ">
  <div class="card-body bg-grey">
    {{ . | markdownify  }}
  </div>
</div>
{{ end }}
{{ range .col4_img }}
<div class="col-md-4 ">
<img alt="{{$client}} - 3" class="img-fluid" src="{{ . | relURL }}">
</div>
{{ end }}
</div>
{{ end }}

{{ if eq "ligne-8img-4txt" .template }}
<div class="row">
{{ range .col8_img }}
<div class="col-md-8 ">
<img alt="{{$client}} - 3" class="img-fluid" src="{{ . | relURL }}">
</div>
{{ end }}
{{ with .col4_txt }}
<div class="col-md-4 card ">
  <div class="card-body bg-grey">
    {{ . | markdownify  }}
  </div>
</div>
{{ end }}
</div>
{{ end }}

{{ if eq "ligne-4txt-8img" .template }}
<div class="row">
{{ with .col4_txt }}
<div class="col-md-4 card ">
  <div class="card-body bg-grey">
    {{ . | markdownify }}
  </div>
</div>
{{ end }}
{{ range .col8_img }}
<div class="col-md-8 ">
<img alt="{{$client}} - 3" class="img-fluid" src="{{ . | relURL }}">
</div>
{{ end }}
</div>
{{ end }}

{{ if eq "ligne-8txt-4img" .template }}
<div class="row">
{{ with .col8_txt }}
<div class="col-md-8 card ">
  <div class="card-body bg-grey">
    {{ . | markdownify  }}
  </div>
</div>
{{ end }}
{{ range .col4_img }}
<div class="col-md-4 ">
<img alt="{{$client}} - 3" class="img-fluid" src="{{ . | relURL }}">
</div>
{{ end }}
</div>
{{ end }}

{{ if eq "ligne-4img-8txt" .template }}
<div class="row">
{{ range .col4_img }}
<div class="col-md-4 ">
<img alt="{{$client}} - 3" class="img-fluid" src="{{ . | relURL }}">
</div>
{{ end }}
{{ with .col8_txt }}
<div class="col-md-8 card ">
  <div class="card-body bg-grey">
    {{ . | markdownify  }}
  </div>
</div>
{{ end }}
</div>
{{ end }}
<!-- END IMAGES ET TEXTE UNIQUEMENT-->

<!--  TEXTE UNIQUEMENT-->
{{ if eq "ligne-12txt" .template }}
<div class="row">
{{ with .col12_txt }}
<div class="col-md-12 card ">
  <div class="card-body bg-grey text-center">
    {{ . | markdownify }}
  </div>
</div>
{{ end }}
</div>
{{ end }}

{{ if eq "ligne-6txt-6txt" .template }}
<div class="row">
{{ with .col6_txt_a }}
<div class="col-md-6 card ">
  <div class="card-body bg-grey">
    {{ . | markdownify }}
  </div>
</div>
{{ end }}
{{ with .col6_txt_b }}
<div class="col-md-6 card ">
  <div class="card-body bg-grey">
    {{ . | markdownify }}
  </div>
</div>
{{ end }}
</div>
{{ end }}

{{ if eq "ligne-4txt-4txt-4txt" .template }}
<div class="row">
{{ with .col4_txt_a }}
<div class="col-md-4 card ">
  <div class="card-body bg-grey">
    {{ . | markdownify  }}
  </div>
</div>
{{ end }}
{{ with .col4_txt_b }}
<div class="col-md-4 card ">
  <div class="card-body bg-grey">
    {{ . | markdownify  }}
  </div>
</div>
{{ end }}
{{ with .col4_txt_c }}
<div class="col-md-4 card ">
  <div class="card-body bg-grey">
    {{ . | markdownify  }}
  </div>
</div>
{{ end }}
</div>
{{ end }}
<!--  END TEXTE UNIQUEMENT-->

<!--  VIDEO UNIQUEMENT-->
{{ if eq "ligne12video" .template }}
<div class="row">
    {{if .video_controls }}
      {{ $portrait := 1 }}
      {{ $background := 0 }}
      {{ $loop := 0 }}
        {{ with .col12_video }}
  <div class="col-md-12">
    <div class=" embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="{{. | relURL }}?title=0&byline=0&portrait={{$portrait}}&api=1&background={{$background}}&mute=0&loop={{$loop}}" webkitallowfullscreen  mozallowfullscreen  allowfullscreen></iframe>
    </div>
  </div>
        {{ end }}
    {{ else }}
      {{ $portrait := 0 }}
      {{ $background := 1 }}
      {{ $loop := 1 }}
        {{ with .col12_video }}
    <div class="col-md-12">
        <div class=" embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="{{. | relURL }}?title=0&byline=0&portrait={{$portrait}}&api=1&background={{$background}}&mute=0&loop={{$loop}}" webkitallowfullscreen  mozallowfullscreen  allowfullscreen></iframe>
        </div>
    </div>
      {{ end }}
    {{ end }}
</div><!--  END ROW -->
{{ end }}


{{ end }} <!--  END LOOP -->
    </div> <!--  END GRID -->

  <div id="" class="my-3 row">
  <div class="backbutton col-md-12 text-center">
    <a href="javascript:history.back()">
      RETOUR
    </a>
  </div>
  </div>

  <div id="" class="my-3 row">
      <div class="col-md-12 text-center">
     {{- partial "share_buttons.html" .}}
      </div>
      </div>


</div> <!-- end grid container -->

{{ end }}
