{{ $data := .Data }}
{{ $currentpage := .Data.Term }}
<a id="clickfiltre" class="btn btn-default d-block d-md-none" data-toggle="collapse" href="#filters-list" role="button" aria-expanded="false" aria-controls="filters-list">
    {{ if $currentpage }}{{$currentpage}}{{else}}tous{{end}}
    <i class="fa fa-navicon"></i>
</a>
  <div id="filters-list" class=" text-center collapse dont-collapse-sm">
      <ul class="list-inline" id="all-tags">
<li class="list-inline-item {{ if not $currentpage }}active{{end}}"><a href="/clients">tous</a></li>
<!-- {{/* range $name, $taxonomy := .Site.Taxonomies.industries */}} -->
{{ range $.Site.Taxonomies.industries.ByCount }}
{{ $name := .Name }}
<li class="list-inline-item {{ if eq $currentpage $name }}active{{end}}"><a href="{{ "/industries/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a></li>
{{ end }}
</ul>
</div>