{{ $currentpage := .File }}
<div class="filters agence text-center">
        <ul class="list-inline" id="all-tags">
            {{ range where .Site.RegularPages.ByWeight "Section" .Section }}
            <li class="list-inline-item {{ if eq $currentpage .File }}active{{end}}"><a title="{{ .Name }}" href="{{ .URL  | relLangURL }}">{{ .Name }}</a></li>
            {{ end }}
      </div>
