{{ $data := .Data }}
{{ $currentpage := .Data.Term }}
<div class="col-md-10 offset-md-1 pb-1">
  <div class="filters-text">
      <div id="filters-list-text" class=" text-center">
          <ul class="list-inline metiers-list" id="all-tags">
              <li class="list-inline-item {{ if not $currentpage }}active{{end}}"><a href="/{{ $data.Plural }}/">tous</a></li>  
  <!-- {{/* range  $name, $value := .Site.Taxonomies.metiers  */}} -->
  {{ range $.Site.Taxonomies.metiers.ByCount }}
  {{ $name := .Name }}
  <li class="list-inline-item {{ if eq $currentpage $name }}active{{end}}"><a href="/{{ $data.Plural }}/{{ $name | urlize }}">{{- $name -}}</a></li>
  {{ end }}
  </ul>
    </div>

  <div class="filters filters-mobile d-block d-md-none">
<a id="clickfiltre" class="btn btn-default d-block d-md-none" data-toggle="collapse" href="#filters-list" role="button" aria-expanded="false" aria-controls="filters-list">
        {{ if $currentpage }}{{$currentpage}}{{else}}tous{{end}}
        <i class="fa fa-navicon"></i>
</a>
              <div id="filters-list" class=" text-center collapse dont-collapse-sm">
                  <ul class="list-inline" id="all-tags">
            <li class="list-inline-item {{ if not $currentpage }}active{{end}}"><a href="/{{ $data.Plural }}/">tous</a></li>
          <!-- {{/* range  $name, $value := .Site.Taxonomies.metiers  */}} -->
          {{ range $.Site.Taxonomies.metiers.ByCount }}
          {{ $name := .Name }}
          <li class="list-inline-item {{ if eq $currentpage $name }}active{{end}}">
            <a href="/{{ $data.Plural }}/{{ $name | urlize }}">{{ $name }}</a>
          </li>
          {{ end }}
          </ul>
      </div>
</div>
</div>