<footer class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
         <p class="m-2">SUIVEZ-NOUS AUSSI SUR</p> 
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="list-inline">
          {{ range .Site.Data.lesbonsfaiseurs.social.social_icons }}
            {{- if isset $.Site.Author .id }}
              <li class="list-inline-item">
                <a href="{{ printf .url (index $.Site.Author .id) }}" title="{{ .title }}">
                    <i class="fa {{ .icon }}"></i>
                </a>
              </li>
            {{- end -}}
          {{ end }}
          </ul>
        <div class="credits mt-2" itemscope="" itemtype="http://schema.org/Organization">
              <span itemprop="name">
                {{ if .Site.Title }}
                  <a href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
                {{ end }}
              </span>
              <span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">{{ .Site.Params.street }}</span> - 
                <span itemprop="postalCode">{{ .Site.Params.zipcode }}</span> 
                <span itemprop="addressLocality">{{ .Site.Params.city }}</span> - 
                <span itemprop="addressRegion"></span> 
                <span itemprop="addressCountry">{{ .Site.Params.country }}</span>
              </span>
      </div>
    </div>
  </div>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{{ "js/lesbonsfaiseurs.js" | relURL }}"></script>

{{- partial "footer_custom.html" . }}
