{{- $url := trim .URL "/" }}
{{- $section := .Section }}
{{/*- $url3 := .URLPath.Slug */}}

<nav class="fixed-top  navbar navbar-light navbar-expand-lg justify-content-between bg-white"  role="navigation">
  <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar10">
        <span class="navbar-toggler-icon"></span>
            </button>
    <div class="navbar-brand logo-nav">
        {{ if isset .Site.Params "logo" }}
        <a class="" title="{{ .Site.Title }}" href="{{ "" | absLangURL }}">
          <span>{{.Site.Title  }}</span>
        </a>
      {{ end }}
      </div>

    <div class="navbar-collapse collapse " id="navbar10">
        <ul class="navbar-nav text-center justify-content-around w-100">
        {{ range .Site.Menus.main.ByWeight }}
        {{- $url2 := trim .URL "/" }}
        {{ $section2 := .Identifier }}
                     <li class="nav-item">
              <a class="nav-link {{ if or (eq $url $url2) (eq $section2 $section)  }}active{{ end }} " title="{{ .Name }}" href="{{ .URL  | relLangURL }}">{{ .Name }}</a>
            </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
