{{ $title := .Title }}
{{ $url := printf "%s" .URL | absLangURL }}
{{ $body := print $title ", by " .Site.Title "\n" .Params.description "\n\n" $url "\n" }}
<h6 class="pleaseshare">PARTAGEZ CETTE PAGE</h6>
        <ul id="sharelinks" class="list-inline">

                          <li class="list-inline-item">
                                <a href="http://pinterest.com/pin/create/button/?url={{ $url }}&description={{ $title }}" class="pinterest" aria-label="share on Pinterest">
                                  PINTEREST
                            </a>
                          </li>
                          <span>|</span>

                          <li class="list-inline-item">
                                <a href="mailto:?subject={{ $title }}.&body={{ $body }}" class="email" aria-label="share on Email">
                              EMAIL
                            </a>
                          </li>
                          <span>|</span>
                          <li class="list-inline-item">
                              <a href="http://www.facebook.com/sharer.php?u={{ $url }}" class="facebook" aria-label="share on Facebook">
                                FACEBOOK
                              </a>
                            </li>

                </ul>