{{ define "header"}}
<header class="header-section">
    <div class="intro-header no-img">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="{{ .Type }}-heading">
              <h1>Clients</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
{{ end }}
{{ define "main" }}
{{ $data := .Data }}
{{ $currentpage := .Data.Term }}
<div class="container">
  <div class="row" role="filters">
    <div class="col-md-12">
        <div class="filters filters-mobile">
            {{- partial "filters_clients.html" . }}
      </div>
    </div>
  </div> <!-- END ROW -->
  <div class="row client-list cliquable mt-3">
    <div class="col-md-10 offset-md-1 text-center">
        <ul class="list-inline">
            {{- range sort (where .Pages.ByTitle "Params.cliquable" true) }}
            {{- $clientname := .Title }}
            <li class="list-inline-item">
              {{- if .Params.direct_projet }}
              {{- $projeturl := index (last 1 (split .Params.direct_projet "/")) 0 }}
              {{- range where .Site.Pages "Section" "projets" }}
                {{- if eq $projeturl .File.LogicalName }}
                <a href="{{ .URL }}">{{- $clientname}}</a></li>{{- end }}<!-- end if-->
              {{- end }}<!-- end range-->
              {{- else }}
              <a href="{{ .URL }}">{{- .Title }}</a>{{- end }}</li>
            {{- end }} <!-- end range-->
          </ul>
    </div>
  </div> <!-- END ROW -->
  <div class="row client-list non-cliquable">
    <div class="col-md-10 offset-md-1 text-center">
      <ul class="list-inline">
        {{- range sort (where .Pages "Params.cliquable" false) }}
        <li class="list-inline-item">{{- .Title }}</li>
        {{- end }}
      </ul>
    </div>
  </div>
</div>
{{ end }}
