{{ define "header" }}<!-- No header on 404 pages -->{{ end }}
{{ define "main" }}
  <div role="main" class="container mt-5">
    <div class="text-center">
      <h1>Oups, cette page est introuvable, revenez vite!
        <br> <br>
        <a class="" title="{{ .Site.Title }}" href="{{ "" | absLangURL }}">Retour à l'accueil</a>
      </h1>
    </div>
  </div>
{{ end }}

