{{ define "header" }}
<span></span>
{{ end }}
{{ define "main" }}
<div id="homecarousel" class="carousel vert slide" data-ride="carousel" data-interval="5000">
    <ol class="carousel-indicators custom">
        {{ range $index, $slide := (where .Pages "Params.slider" true) }}
        <li data-target="#homecarousel" data-slide-to="{{ $index }}" class="{{ if eq $index 0 }} active{{ end }}"></li>
        {{ end }}
    </ol>
    <div class="carousel-inner text-center">
        {{ range $index, $slide := (where .Pages "Params.slider" true) }}
        <div class="carousel-item {{ if eq $index 0 }} active {{ end }}"  style="background-image: url('{{ with .Params.imageslider}}{{ . | relURL }}{{ else }} http://source.unsplash.com/2500x1200/?paris{{ end }}')">
          <!-- <div class="d-flex h-100 align-items-center justify-content-center"> -->
              <div class="carousel-caption-wrapper">
          <a class="w-75" href="{{ .URL}}">
             <div class="carousel-caption-custom">
                    {{ if .Params.client }}
                    {{ $client := index (last 1 (split .Params.client "/")) 0 }}
                    {{ range where .Site.Pages "Section" "clients" }}
                      {{ if eq $client .File.LogicalName }}
                    <h1>{{ .Title }}</h1>
                    {{ end }}
                    {{ end }}
                    {{ end }}
                <h2 class="">{{ if .Params.titre_slider }}{{ .Params.titre_slider | markdownify }}{{ else }}{{ .Title }}{{ end }}</h2>
                </div>
              </a>
              </div>
          </div>
        {{ end }}
    </div>
</div>
  {{ end }}
