<!DOCTYPE html>
<html lang="{{ .Lang }}">
  {{ partial "head.html" . }}
  <body class="{{ .Kind }}">
    {{ partial "nav.html" . }}
    {{ block "header" . }}{{ partial "header.html" . }}{{ end }}
    <main role="main">
    {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ block "footer_extra" . }}{{ end }}
  </body>
</html>

