{{ define "main" }}
<div class="container mt-3">
  <div class="row">
    <div class="offset-md-1 col-md-10 text-center">
      <div class="col-md-12" id="{{ .File | urlize }}">
        {{ .Content }}
      </div>
    <div class="row mt-5 coordonnees text-center">
      <div class="col-md-4">
      <h5>Contact</h5>
      <p>{{ with .Params.contact_email}}<a class="grey" target="_blank" href="mailto:{{ . }}">{{ . }}</a>{{ end}}</p>
    </div>

    <div class="col-md-4">
      <h5>Adresse</h5>
      <p>{{ with .Params.contact_adresse}}{{ . }}{{ end}}</p>
      </div>
      <div class="col-md-4">
          <h5>Téléphone</h5>
           <p>{{ with .Params.contact_phone}}{{ . }}{{ end}}</p>
         </div>

    </div>
  </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row p-0 mt-5">
    <div class="col-md-12">
      <div id="map"></div>
    </div>
</div>
</div> <!--end container -->
{{ end }}
{{ define "footer_extra" }}
<!--
If you want to include any custom html just before </body>, put it in /layouts/footer_custom.html
Do not put anything in this file - it's only here so that hugo won't throw an error if /layouts/footer_custom.html doesn't exist.
-->
<script>
    function initMap() {

        var myLatLng = {lat: 48.8681532, lng: 2.3573262};

        // Styles a map in night mode.
        var map = new google.maps.Map(document.getElementById('map'), {
            center: myLatLng,
            zoom: 15,
            disableDefaultUI: true,
            styles: [
         {
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#f5f5f5"
      }
    ]
  },
  {
    "elementType": "labels.icon",
    "stylers": [
      {
        "visibility": "on"
      }
    ]
  },
  {
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#616161"
      }
    ]
  },
  {
    "elementType": "labels.text.stroke",
    "stylers": [
      {
        "color": "#f5f5f5"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#bdbdbd"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#eeeeee"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#757575"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#e5e5e5"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#9e9e9e"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#ffffff"
      }
    ]
  },
  {
    "featureType": "road.arterial",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#757575"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dadada"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#616161"
      }
    ]
  },
  {
    "featureType": "road.local",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#9e9e9e"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#e5e5e5"
      }
    ]
  },
  {
    "featureType": "transit.station",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#eeeeee"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#c9c9c9"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#9e9e9e"
      }
    ]
  }
]
        });

        var image = {
            url: '{{ "img/icon_map2.png" | absURL }}',
            scaledSize: new google.maps.Size(36, 49), // scaled size
        };
        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          icon: image
        });

    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWpeYlLNimYfGfM9Ix3gnRIVEkT217Os8&callback=initMap"
    async defer></script>
{{ end }}
