{{ define "header" }}
<header class="header-section">
    <div class="intro-header no-img">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="page-heading">
              <h1>L'Agence</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
{{ end }}
{{ define "main" }}
<div class="container">
    {{ $currentpage := .File }}
  <div class="row" role="filters">
    <div class="col-md-12">
        {{- partial "filters_agence.html" . }}
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-8 offset-md-2">
      <article id="{{ .File | urlize }}" class="mt-5">
        {{ .Content | markdownify }}
      </article>
    </div>
  </div>
  </div> <!--end container -->


  <div class="container-fluid p-0 mt-5">
      {{ $client := .Title }}
  <div class="row no-gutters">

    {{ range .Params.ligne_col }}

     <!-- IMAGES UNIQUEMENT-->
     {{ if eq "ligne-12img" .template }}
     <div class="row no-gutters">
     {{ range .col12_img }}
      <div class="col-md-12 ">
         <img alt="{{$client}} - 1" class="img-fluid" src="{{ . | relURL }}">
       </div>
     {{ end }}
   </div>
     {{ end }}
 
     {{ if eq "ligne-6img-6img" .template }}
     <div class="row no-gutters">
     {{ range .col6_img }}
     <div class="col-md-6 ">
     <img alt="{{$client}} - 2" class="img-fluid" src="{{ . | relURL }}">
     </div>
     {{ end }}
     </div>
     {{ end }}
 
     {{ if eq "ligne-4img-4img-4img" .template }}
     <div class="row no-gutters">
     {{ range .col4_img }}
     <div class="col-md-4  ">
     <img alt="{{$client}} - 3" class="img-fluid" src="{{ . | relURL }}">
     </div>
     {{ end }}
     </div>
     {{ end }}
 
     {{ if eq "ligne-8img-4img" .template }}
     <div class="row no-gutters">
     {{ with .col8_img }}
     <div class="col-md-8 ">
     <img alt="{{$client}} - 3" class="img-fluid" src="{{ . | relURL }}">
     </div>
     {{ end }}
     {{ with .col4_img }}
     <div class="col-md-4 ">
     <img alt="{{$client}} - 3" class="img-fluid" src="{{ . | relURL }}">
     </div>
     {{ end }}
     </div>
     {{ end }}
 
     {{ if eq "ligne-4img-8img" .template }}
     <div class="row no-gutters">
     {{ with .col4_img }}
     <div class="col-md-4 ">
     <img alt="{{$client}} - 3" class="img-fluid" src="{{ . | relURL }}">
     </div>
     {{ end }}
     {{ with .col8_img }}
     <div class="col-md-8 ">
     <img alt="{{$client}} - 3" class="img-fluid" src="{{ . | relURL }}">
     </div>
     {{ end }}
     </div>
     {{ end }}
 <!-- END IMAGES UNIQUEMENT-->
 {{ end }}
  </div>


{{ end }}
