{{ define "header" }}
<header class="header-section">
    <div class="intro-header no-img">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="page-heading">
              <h1>L'Agence</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
{{ end }}
{{ define "main" }}
<div class="container">
    {{ $currentpage := .File }}
  <div class="row" role="filters">
    <div class="col-md-12">
{{- partial "filters_agence.html" . }}
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-8 offset-md-2">
      <article id="{{ .File | urlize }}" class="mt-5">
        {{ .Content | markdownify }}
      </article>
    </div>
  </div>
  </div> <!--end container -->

  {{ with .Params.image1 }}
  <div class="container-fluid p-0 mt-5">
  <div class="row no-gutters">
      <div class="col-md-12">
          <img src="{{ . | relURL }}">
      </div>
    </div>
  </div>
    {{ end }}

{{ end }}
