{{ define "main" }}
<div class="container">
    <div class="row" role="filters">
                 {{- partial "filters.html" . }}
  </div>
  <div id="grid" class="row mt-3">
    {{ range where .Site.RegularPages.ByWeight "Section" "projets" }}
    <article role="main" class="col-xs-12 col-sm-6 col-md-4">
        <div class="project-article-inner">
          <a class="hover" title="{{ .Title }}" href="{{ .URL }}">
        <div class="project-caption-content text-center">
            <div class="project-caption-content-wrapper">
            <div class="project-name">
              <h4 class="mb-0">
                  {{ if .Params.titre_slider }}{{ .Params.titre_slider | markdownify }}{{ else }}{{ .Title }}{{ end }}
              </h4>
            </div>
            <div class="project-client">
                {{ if .Params.client }}
                {{ $client := index (last 1 (split .Params.client "/")) 0 }}
                {{ range where .Site.Pages "Section" "clients" }}
                  {{ if eq $client .File.LogicalName }}
                <p class="font-italic font-weight-light">{{ .Title }}</p>
                {{ end }}
                {{ end }}
                {{ end }}
              </div>
          </div>
          </div>
        <img class="img-fluid" alt="{{ .Title }}" src="{{ with .Params.vignette}}{{ . | relURL }}{{ else }}{{ "/uploads/visuel_paysage.jpg" | absURL }}{{ end }}">
      </a>
    </div>
    </article>
    {{ end }}
  
  </div>
</div>
{{ end }}

